In [9]:
import sys
import os
sys.path.append(os.path.abspath('./../'))  # Adjust this path as needed
# Now try importing
from db_util import get_historical_data
db_name = "./../../stock_data.db"

In [10]:
data = get_historical_data('AAPL', db_name=db_name)
data.head()

,open,high,low,close,volume
timestamp,,,,,
2024-03-28 04:00:00+00:00,170.942838,171.420578,169.708660,170.674103,65672700
2024-04-01 04:00:00+00:00,170.385479,170.445194,168.683508,169.230927,46240500
2024-04-02 04:00:00+00:00,168.285371,168.544144,167.439360,168.046494,49329500
2024-04-03 04:00:00+00:00,167.996733,169.877850,167.787728,168.852692,47691700
2024-04-04 04:00:00+00:00,169.489689,171.112033,168.026611,168.026611,53704400